.logo {
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
    
    &_mod {
        margin-right: 93px;
    }

    &_footer {
        margin-bottom: 20px;
    }
    
    &-header {
        color: var(--logo-dark-color);
    }
    
    &-white {
        color: var(--primary-color);
    }
}